# macOS
.DS_Store

# Gradle
*/gradle/
.gradle
build/
*/build/
local.properties

# IDE
.idea/
*.iml

# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
# Folders
vendor/
go.work.sum

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/

# Swift / Xcode
# Xcode
/DerivedData/
.swiftpm/
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
# Carthage
/Carthage/Build/
# CocoaPods
/Pods/
# Other
*.swp
*~

# Kotlin
*.jar
*.war
*.klib
.kotlin/
kls_database.db
